<!doctype html><html>
<head>
<meta charset=utf-8>
<meta http-equiv=x-ua-compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<title>Sign for Footscray Maker Lab - Redgum & Rust</title>
<meta name=description content="Found object art from Tasmania.">
<title itemprop=name>Sign for Footscray Maker Lab</title>
<meta property="og:title" content="Sign for Footscray Maker Lab">
<meta name=twitter:title content="Sign for Footscray Maker Lab">
<meta itemprop=name content="Sign for Footscray Maker Lab">
<meta property="og:site_name" content>
<meta name=description content="Found object art from Tasmania.">
<meta itemprop=description content="Found object art from Tasmania.">
<meta property="og:description" content="Found object art from Tasmania.">
<meta name=twitter:description content="Found object art from Tasmania.">
<base href=/works/fragments/fml-sign/>
<link rel=canonical href=http://redgumandrust.com.au/works/fragments/fml-sign/ itemprop=url>
<meta name=url content="http://redgumandrust.com.au/works/fragments/fml-sign/">
<meta property="og:url" content="http://redgumandrust.com.au/works/fragments/fml-sign/">
<meta name=twitter:url content="http://redgumandrust.com.au/works/fragments/fml-sign/">
<meta name=twitter:card content="summary">
<meta name=twitter:creator content="Tom Harris (Redgum & Rust)">
<meta itemprop=image content="http://redgumandrust.com.au/images/works/fml-sign/IMG20180527084625_hu7fa04308fd2c8d7b4bfab034c1c0a7ce_125066_800x418_fill_box_center.png">
<meta property="og:image" content="http://redgumandrust.com.au/images/works/fml-sign/IMG20180527084625_hu7fa04308fd2c8d7b4bfab034c1c0a7ce_125066_800x418_fill_box_center.png">
<meta name=twitter:image content="http://redgumandrust.com.au/images/works/fml-sign/IMG20180527084625_hu7fa04308fd2c8d7b4bfab034c1c0a7ce_125066_800x418_fill_box_center.png">
<meta property="og:locale" content="en">
<link rel=icon type=image/png href=http://redgumandrust.com.au/favicon.ico>
<link rel=stylesheet href=http://redgumandrust.com.au/css/main.css>
<script src=http://redgumandrust.com.au/js/main.js></script>
<style>img.logo{border-radius:50%}</style>
<script src=https://kit.fontawesome.com/bf18cd1a66.js crossorigin=anonymous></script>
<style>@font-face{font-family:open sans regular;src:url(http://redgumandrust.com.au/fonts/OpenSans/OpenSans-Regular.ttf)format('truetype');font-weight:400;font-style:normal}@font-face{font-family:open sans bold;src:url(http://redgumandrust.com.au/fonts/OpenSans/OpenSans-Bold.ttf)format('truetype');font-weight:700;font-style:normal}@font-face{font-family:open sans italic;src:url(http://redgumandrust.com.au/fonts/OpenSans/OpenSans-Italic.ttf)format('truetype');font-weight:400;font-style:italic}@font-face{font-family:open sans bold italic;src:url(http://redgumandrust.com.au/fonts/OpenSans/OpenSans-BoldItalic.ttf)format('truetype');font-weight:700;font-style:italic}body{font-family:open sans regular}</style>
</head>
<body>
<nav class=navbar role=navigation aria-label="main navigation">
<div class=navbar-start>
<div class=logo>
<a href=/works/>
<img class=logo src=http://redgumandrust.com.au/logo.png>
</a>
</div>
</div>
<div class=navbar-middle>
<a class=a-clean href=/works/><p class=welcome-title>Redgum & Rust</p></a>
<div class=menu>
<a href=/works/>works</a>
/
<a href=/figures/>figures</a>
/
<a href=/fragments/>fragments</a>
/
<a href=/misc/>misc</a>
/
<a href=/about/>about</a>
</div>
</div>
<div class=navbar-end>
<div class=socials>
<div class=social>
<a href=mailto:tom@redgumandrust.com.au target=_blank>
<i class="far fa-envelope fa-lg"></i>
</a>
</div>
<div class=social>
<a href=https://www.facebook.com/redgumandrust target=_blank>
<i class="fab fa-facebook fa-lg"></i>
</a>
</div>
<div class=social>
<a href=https://www.instagram.com/redgumandrust/ target=_blank>
<i class="fab fa-instagram fa-lg"></i>
</a>
</div>
</div>
</div>
</nav>
<section class=section>
<div class=slide info=true path=/works/fragments/fml-sign/>
<div>
<div class=slide-imgs>
<div>
<div class="center column slide-meta-title">
<a class=a-clean href=/works/fragments/fml-sign/>Sign for Footscray Maker Lab</a>
</div>
<div>
<div>
<img src=/images/works/fml-sign/IMG20180527084625_hu7fa04308fd2c8d7b4bfab034c1c0a7ce_125066_3000x0_resize_q75_box.jpg loading=lazy width=3000 height=2250>
</div>
</div>
<div class=center>
<div class="slide-meta columns is-mobile">
<div class="center column slide-meta-el">
<div class=slide-tags>
<a class=grey href=http://redgumandrust.com.au/tags/fragments>#fragments</a>
</div>
</div>
<div class="center column slide-meta-el grey">
<p>May 26, 2018</p>
</div>
</div>
</div>
</div>
</div>
<div class=center>
<div class=slide-info>
<div class=content>
<div class=exif>
<details>
<summary>Exif</summary>
<ul>
<li>Date: May 26, 2018</li>
<li>Aperture: 2.27</li>
<li>Exposure Time: 1/100</li>
<li>F Number: 2.2</li>
<li>Focal Length: 3.46</li>
<li>ISO Speed Ratings: 50</li>
<li>Model: CPH1701</li>
</ul>
</details>
</div>
<p><strong>FML Sign</strong> was a sign for the shared studio space &ldquo;Footscray Maker Lab&rdquo; or <a href=https://footscraymakerlab.com/ target=_blank rel=noopener>FML</a> in inner Melbourne. Situated in a semi-derelict warehouse that the owners' only leased to us as I suspect no-one else would rent it. It was a noted rave venue in the 90s, and there was plenty of graffiti in the place, but even the ravers thought it too shabby and moved on. It was an interesting experience at a difficult personal time, and certainly gave me something else to think about.</p>
<p>The sign was intended to go on the roof on a wire fence that had once contained the building&rsquo;s electrical supply, backlit with red diffused light (shades of Dark Mofo?), but it ended up being fixed to a wall in the yard. I don&rsquo;t have a good photo of it now. I still think it would look fantastic backlit.</p>
<p>I built the frame freehand with strap iron, and then infilled with the most lightweight bits of steel that I could find. I think I got a good selection of shapes. I used fluxcore wire in the MIG, as it makes a good weld even through paint or plating. I <strong>do</strong>know that welding through plating is a bad idea as the fumes can make you sick as a dog so please don&rsquo;t tell me.</p>
<p>Looks like I sharpened this photo up a bit, the place rarely looked that clean!</p>
<p><img src=/images/works/fml-sign/IMG20180527084616-EFFECTS-edited.jpg alt="Overall shot edited"></p>
</div>
</div>
</div>
</div>
</div>
</section>
<footer class=footer>
<div class="content has-text-centered">
<p>
All rights reserved. You may use content for non-commercial purposes with attribution and a link to this site. <br>
© 2023, Tom Harris (Redgum & Rust).
</p>
</div>
</footer>
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F71DGJ6D2D"></script>
<script>var doNotTrack=!1;if(!doNotTrack){window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date),gtag('config','G-F71DGJ6D2D',{anonymize_ip:!1})}</script>
<script type=application/javascript>var doNotTrack=!1;doNotTrack||(window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)},ga.l=+new Date,ga('create','G-F71DGJ6D2D','auto'),ga('send','pageview'))</script>
<script async src=https://www.google-analytics.com/analytics.js></script>
</html>